<mat-card>
  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title')?.invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-stroked-button (click)="filePicker.click()" type="button">
        Pick Image
      </button>
      <input type="file" #filePicker />
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        rows="4"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">
        Please enter a post content.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid"
      style="margin-top: 7px"
    >
      Save Post
    </button>
  </form>
</mat-card>
